@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
  body,
  html {
    height: 100%;
    background-repeat: no-repeat;
    background: url(.././img/background2.jpg) no-repeat center center fixed;
    min-height: 100%;
    background-size: cover;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .textbox-main {
    color: #fff;
    background-color: #1fa999;
    border-color: #1fa999;
  }

  .menu-borde {
    border-color: #1fa999;
  }

  background-textbox {
    background-color: #1fa999;
  }

  shadow-tytle {
    text-shadow: #fff 1px 0 10px;

  }
</style>


</div>




  <!-- Custom styles for this template -->
  <link href="pricing.css" rel="stylesheet">


  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
      <path
        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
    </symbol>
  </svg>

  <div class="container py-3">"
    <div class="container" style="height: 150px;">

      <h1 class="text-muted" style="text-align: left;">Trabajamos contigo</h1>
      <h1 class="text-muted" style="text-align: left;">por la salud de tu mascota..</h1>
    </div>

     
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm menu-borde">
            <div class="card-header py-3 textbox-main">
              <h4 class="my-0 fw-normal">Plan de Vacunación</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">Protege a tu mascota!</h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Conoce de nuestros planes</li>
                <li>de vacunación y ponte al dia</li>
                <li>con las vacunas de tu mascota</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg textbox-main">Conoce más</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm menu-borde">
            <div class="card-header py-3 textbox-main">
              <h4 class="my-0 fw-normal">Citas médicas</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">Con los mejores especialistas</h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Solicita y agenda de manera rapida</li>
                <li>y segura una cita para la evaluación</li>
                <li>diagnostica gratuita de tu mascóta</li>                
              </ul>
              <a asp-area="" asp-page="/Login/Login"><button type="button" class="w-100 btn btn-lg textbox-main">Agenda ahora</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm menu-borde">
            <div class="card-header py-3 textbox-main">
              <h4 class="my-0 fw-normal">Trabaja con nosotros</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">El mejor lugar para trabajar</h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Con expertos en todas las areas</li>
                <li>Oportunidad de crecimiento</li>
                <li>Capacitacion continua</li>
              </ul>
              <a asp-area="" asp-page="/TrabajoNosotros/TrabajoNosotros"><button type="button" class="w-100 btn btn-lg textbox-main">Contactanos</button></a>
            </div>
          </div>
        </div>
      </div>

