.clidv2{
    margin: 0px 0px 0px 0px ;
}

.clih1{
    padding: 10px 0px 10px 0px;
    background-color: #2c9b9b;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-family: inherit;
}
.cliimg{
    width: 150px;
}
.clidv3{
    margin: 0px 0px -90px 80px ;
}