
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.div4{
  margin: -555px 23px 0px 605px;
}

.logdiv5{
  margin: 0px 0px 0px 0px;
}
.logimg1{
  width: 350px;
}

.logform {
  
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.logh1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.loginput[type="text"],
.loginput[type="password"],
.loginput[type="date"],
.loginput[type="datetime"],
.loginput[type="email"],
.loginput[type="number"],
.loginput[type="search"],
.loginput[type="tel"],
.loginput[type="time"],
.loginput[type="url"],
.logselect {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.loginput[type="radio"],
.loginput[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.logselect {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.logbutton {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}


fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.loglabel {
  display: block;
  margin-bottom: 8px;
}

.loglabel.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 880px) {

  .logform {
    max-width: 880px;
  }

}